@import "/client/style/theme.less";

.map-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: visible;
	display: block;

	// tmp:
	background: url('/img/map-stub.png') center center no-repeat scroll;
}

.article-panel {
	position: fixed;
	top: 65px;
	bottom: 25px;
	left: 25px;
	width: 300px;
	z-index: 9999;
	display: flex;
	flex-direction: column;
}

.article-detail {
	background-color: white;
	position: fixed;

	top: 65px;
	bottom: 0;
	left: calc(25px + 300px + 25px);
	right: 25px;
	z-index: 9999;
	overflow-x: hidden;
	//padding-right: @std-offset;
}

.article-detail__header-image {
	margin: @std-offset-3-of-4;
	height: 200px;
	background: url('/img/sample1.jpg') center 65% no-repeat scroll;
}

.article-detail__header-h1 {
	max-width: 60%;
	float: right;
	padding: @std-offset-3-of-4 @std-offset-1-and-quarter;
	margin: @std-offset;
	color: @color-sea-wave;
	background-color: white;
	font-size: 20px;
	text-align: right;
}

.article-detail__body {
	white-space: pre-line;
	padding: @std-offset;
}