@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	line-height: 150%;
}

html, body, #react-root, #app {
	height: 100%;
}

.h1 {
	color: gray;
}