.application-container {
}

.layout {
	//padding-top: 75px;
	box-sizing: border-box;
	height: 100%;
	overflow-y: hidden;
	overflow-x: visible;
	position: relative;
}

.layout__central-row {
	.height-inherit();
}

// centered block
.layout__central {
}
// centered body block
.layout__central-body {
	.height-inherit();
	padding-top: 70px;
	box-sizing: border-box;
}
.layout__central-body-left {
	.height-inherit();
}
.layout__central-body-right {
	.height-inherit();
	padding-left: 0;
}
//.layout__content_centered {
//	width: 100%;
//	.display-flex();
//	.flex-justify-content_center();
//}

// offsets
.layout__offset_bottom {
	margin-bottom: @std-offset;
}
.layout__offset_left {
	margin-left: @std-offset;
}
.layout__offset-quarter_bottom {
	margin-bottom: @std-offset-quarter;
}
.layout__offset-3-of-4_bottom {
	margin-bottom: @std-offset-3-of-4;
}