@color_steel-blue: #4B77BE;
@color_fresh-onion: #5B8930;
@color_golden-yellow: #FFA400;
@color_ecstasy: #F9690E;
@color_lynch: #6C7A89;
@color_silver: #BFBFBF;
@color_white: #FFF;
@color_monza: #CF000F;
@color_hanada: #044F67;

// http://bootflat.github.io/color-picker.html

@color_expensive-cloth: #808080;
@color_asphalt: #666666;
@color_sea-wave: #389d98;
@color_berlin-sky: #62aaff;
@color_mcduck-gold: #F9D537;
@color_cloudy-sky: #fafafa;