@color-text-normal: #808080;
@color-text-dark: #666666;

@color-sea-wave: #389d98;
@color-berlin-sky: #62aaff;
@color-mcduck-gold: #F9D537;

@button-tag-color: #ffffff;
@button-tag-color-bg: #62aaff;

@offset_double: 2rem;
@offset_1-and-quarter: 1.25rem;
@offset: 1rem;
@offset_half: .5rem;
@offset_3-of-4: .75rem;
@offset_quarter: .25rem;