@color-sea-wave: #389d98;
@color-berlin-sky: #62aaff;
@color-mcduck-gold: #f9d537;

@button-tag-color: #ffffff;
@button-tag-color-bg: #62aaff;

@std-offset-1-and-quarter: 1.25rem;
@std-offset: 1rem;
@std-offset-half: .5rem;
@std-offset-3-of-4: .75rem;
@std-offset-quarter: .25rem;

.transition-all() {
	transition: all 200ms;
}