.header {
	height: auto !important;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	background-color: white;
}

.header__inner {
	padding: 0 25px 10px 25px;
	display: flex;
}

.header__logo {
	margin-top: 10px;
}

.header__logo-img {
	height: 30px;
	width: 30px;
	border: 1px solid gray;
	position: absolute;
	color: gray;
}

.header__logo-text {
	margin-left: 45px;
	min-height: 30px;
	vertical-align: bottom;
}

.header__logo-funny-desc {
	color: #979797;
	font-size: 12px;
}

.header__buttons {
	display: flex;
}

.header__loading-bar {
	background-color: #62aaff;
	height: 5px;
}