._transition(@what: all, @duration: 200ms) {
	transition: @what @duration ease;
}
._border-rad(@amount: 1px) {
	border-radius: @amount;
}
._border(@color: @borderColor, @width: 1px) {
	border: @width solid @color;
}
._border-t() {
	border-top: 1px solid @borderColor;
}
._border-b() {
	border-bottom: 1px solid @borderColor;
}

._b-color(@color) {
	background-color: @color;
}

._no-b-shadow() {
	box-shadow: none;
}

._orbit(){
	z-index: 99999999;
}

._stratosphere(){
	z-index: 99999990;
}

._everest(){
	z-index: 99999900;
}

._elbrus(){
	z-index: 99999000;
}

._no-select() {
	user-select: none;
}
