// todo: self-host this
@import (css) url("//fonts.googleapis.com/icon?family=Material+Icons");

._icon(@code, @size: 16px) {
	font-family: 'Material Icons', sans-serif;
	font-size: @size;
	font-style: normal;
	line-height: 100%;
	height: @size;
	width: @size;
	&:before {
		content: @code;
	}
}

._icon_build(@size: 16px) {
	._icon('build', @size);
}
.icon_build {
	._icon_build() !important;
}

._icon_storage(@size: 16px) {
	._icon('storage', @size);
}

._icon_arrow-back(@size: 16px) {
	._icon('arrow_back', @size);
}

._icon_keyboard-arrow-left(@size: 16px) {
	._icon('keyboard_arrow_left', @size);
}

._icon_clear(@size: 16px) {
	._icon('clear', @size);
}
