// todo: self-host this
@import (css) url("//fonts.googleapis.com/icon?family=Material+Icons");

._icon(@code, @size: 16px) {
	font-family: 'Material Icons', sans-serif;
	font-size: @size;
	line-height: 100%;
	height: @size;
	width: @size;
	&:before {
		content: @code;
	}
}

.icon_bug-report {
	._icon('bug_report') !important;
}

.icon_build {
	._icon('build') !important;
}

.icon_storage {
	._icon('storage') !important;
}

.icon_arrow-back {
	._icon('arrow_back') !important;
}
