._f-weight_600() {
	font-weight: 600;
}

._family_muli() {
	font-family: 'Muli', sans-serif;
}

._hcolor_darken(@color: @color_almost-black, @percent: 10%) {
	color: @color;
	&:focus {
		color: @color;
	}
	&:hover {
		color: darken(@color, @percent);
	}
}

.lh_14px {
	line-height: 14px !important;
}

._no-decoration() {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

._f-size_x(@mp: 1) {
	font-size: @offset * @mp;
	line-height: 150%;
}

.f-size_x0p9 {
	._f-size_x(0.9) !important;
}

.f-size_x1p25 {
	._f-size_x(1.25) !important;
}
