@offset: 1rem;

@color_silver: #BFBFBF;
@color_berlin-sky: #4183c4;
@color_white: #fff;
@color_almost-black: #2e343b;
@color_grey: #e5e5e5;
@color_blood-red: #cf000f;
@color_golen-bright: lighten(#ffb61e, 20%);

@color_expensive-cloth: #808080;
@color_asphalt: #666666;
@color_dusk: #595959;
@color_sea-wave: #389d98;
@color_berlin-sky: #62aaff;
@color_mcduck-gold: #F9D537;
@color_cloudy-sky: #fafafa;