@import (reference) url('/client/style/rem-mastered/index.less');

@topnav-height: 55px;

.application-container {
}

.layout {
	//padding-top: 75px;
	box-sizing: border-box;
	height: 100%;
	overflow-y: hidden;
	overflow-x: visible;
	position: relative;
}

.layout__central-row {
	._height-inherit();
}

.layout_centered {
	._content_v_center_h_center();
}

.layout__inner_centered {
	._width_btw(100px, 600px);
	.w_100p;
	._padding-lr_x();
}
