@import (reference) './api/palette.import.less';
@import (reference) "{}/node_modules/rem-bem/less/index.less";

@color-text-normal: @color_expensive-cloth;
@color-text-dark: @color_asphalt;
@color-header: darken(@color-text-normal, 10%);

@detail-h-padding: @offset + @offset_quarter;
@detail-v-padding: @offset;
@article-detail-header-color: @color_mcduck-gold;

@offset_double: 2rem;
@offset_1-and-quarter: 1.25rem;
@offset: 1rem;
@offset_half: .5rem;
@offset_3-of-4: .75rem;
@offset_quarter: .25rem;

.page-content {
	ul, ol {
		._group_x(0.5);
	}

	h2 {
		._margin-b_x(1);
	}
}
