@import (reference) url('/client/style/index.less');

.header {
}

.header__row {
	._no-padding-bottom() !important;
}

.header__logo {
	height: 3 * @offset;
	._block();
	._family_muli();
	._weight_600();
	font-size: 6 * @offset;
	line-height: 36%;
	._hcolor_darken(@color_silver);
	._transition();
}

.header__buttons {
	._flex();
	._flex-justify-content_end();
	._flex-align-items_center();
	height: 100%;
}
