.button {
	padding: @std-offset-quarter @std-offset-half;
	font-size: 13px;
	cursor: pointer;
	._transition();
	outline: none;
}

.button-tag {
	color: @button-tag-color;
	background-color: @color-sea-wave;

	&:hover {
		background-color: lighten(@color-sea-wave, 5%);
	}
}