.button {

	._button-reset();

	padding: @offset_quarter @offset_half;
	cursor: pointer;
	._transition();
	outline: none;
}

.button-tag {
	color: @color_white;
	background-color: @color_sea-wave;

	&:hover {
		background-color: lighten(@color_sea-wave, 5%);
	}
}