@import "../theme.less";

.button {
	padding: @std-offset-quarter @std-offset-half;
	font-size: 16px;
	cursor: pointer;
	.transition-all();
}

.button-tag {
	color: @button-tag-color;
	background-color: @button-tag-color-bg;

	&:hover {
		background-color: @button-tag-color-bg-hover;
	}
}