@percent: 5%;
@percent-hover: 10%;

.makeTagButtonHover(@color){
	&.tag__button {
		&:hover {
			background-color: lighten(@color, @percent-hover);
		}
	}
}

.makeTagColor(@bgColor, @color: #fff)
{
	color: @color;
	background-color: lighten(@bgColor, @percent);

	.makeTagButtonHover(@bgColor);
}

.tag {
	padding: @std-offset-quarter @std-offset-half;
	font-size: 13px;
	._transition();
	border-radius: 2px;

	user-select: none;
	cursor: default;
}

.tag__button {
	cursor: pointer;
	outline: none;
}

.tag_golden-yellow {
	.makeTagColor(@color_golden-yellow);
}

.tag_steel-blue {
	.makeTagColor(@color_steel-blue);
}

.tag_ecstasy {
	.makeTagColor(@color_ecstasy);
}

.tag_lynch {
	.makeTagColor(@color_lynch);
}

.tag_silver {
	.makeTagColor(@color_silver);
}

.group-tag {
	display: flex;

	& > .tag {
		margin-right: @std-offset-half;

		&:last-of-type {
			margin-right: 0;
		}
	}
}