@import (reference) url('/client/style/index.less');

.form {
}

.form__body {
}

.form__body_fragment {
	._border-l(@borderColor, 4px);
	._padding-l_x(2);
	._padding-tb_x(0.5);
}

#make_form__body_fragment_color(@color) {
	._border-l(fade(@color, 30%), 4px);
	&:hover,
	&.form__body_fragment_hover {
		._border-l(@color, 4px);
	}
	._transition();
}

.form__body_fragment_color_blue {
	#make_form__body_fragment_color(#2185d0);
}

.form__body_fragment_color_green {
	#make_form__body_fragment_color(#60b044);
}

.form__body_fragment_color_yellow {
	#make_form__body_fragment_color(#fbbd08);
}

.form__body_fragment_color_orange {
	#make_form__body_fragment_color(#f2711c);
}

.form__body_fragment_color_olive {
	#make_form__body_fragment_color(#b5cc18);
}

.form__container_error {
	//input[type="text"],
	//input[type="password"],
	//textarea {
	//	._border(@color_blood-red) !important;
	//	._b-color(lighten(@color_blood-red, 58%)) !important;
	//}
}

.form__error-message {
	._padding_x(0.5);
	._f-size_x(1.2);
	background-color: @color_blood-red;
	color: @color_grey !important;
	._block();
}

.form__error {
	.form__error-message;
}

.form__row {
}

.form__footer {
	._margin-t_x(2);
}

.form__footer-bar {
	._padding-t_x();
	._padding-b_x();
	._b-color(@color_white);
	._border-t();
}

.form__footer-back {
	._no-decoration();
	._hcolor_darken();
	._padding-lr_x(2);
	._padding-tb_x(0.75);
	font-size: 14px;
}
